<h1>Admin Dashboard</h1>
<p>Total number of products: <%= @product_count %></p>
<a href="/admin/products/new" class="btn btn-success">Add a new product</a>
<a href="/admin/products" class="btn btn-success">See all products</a>
<p>Total number of categories: <%= @category_count %></p>
<a href="/admin/categories/new" class="btn btn-success">Add a new category</a>
<a href="/admin/categories" class="btn btn-success">See all categories</a>


